.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  justify-content: center;
  text-align: center;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
